* {
    margin: 0;
    padding: 0;
    /* background: #000; */
    box-sizing: border-box;
}

.gol {
    height: 200px;
    width: 200px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 25%;
}

.gol span:nth-child(1) {
    transform: rotate(45deg);
    top: 55px;
}

.gol span {
    width: 120px;
    height: 20px;
    background: #000;
    position: absolute;
    border-radius: 10px;
    transition: all 0.4s;
}

.gol span:nth-child(2) {
    transform: rotate(-45deg);
    bottom: 53px;
}

.gol:hover span:nth-child(1) {
    top: 90px;
    transition: all 0.4s ease;
    /* animation: down .2s; */
}

.gol:hover span:nth-child(2) {
    bottom: 90px;
    transition: all 0.4s ease;
    /* animation: down .2s; */
}

/* 
@keyframes down {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
} */

.search {
    position: absolute;
    top: 55%;
    background: #353535;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
    line-height: 40px;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
}

.search-in {
    color: #fff;
    background: #353535;
    outline: none;
    border: none;
    border-radius: 10px;
    line-height: 40px;
    width: 0px;
    float: left;
    font-size: 1em;
    transition: 0.7s ease;
}

i{
    background-color: #353535;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #353535;
    padding: 12px;
    border-radius: 50%;
    float: right;
    color: #22ffc0;
    transition: 0.4s ease;
}
.search:hover>i{
    opacity: 0;
}
.search:hover i{
    display: none;
}
.search:hover>.search-in,
.search-in:focus {
    width: 120px;
    margin: 0 8px;
}

.button {
    position: absolute;
    top: 65%;
    left: 25%;
    width: 200px;
    height: 70px;
    border-radius: 45px;
    font-size: 1.2rem;
    font-weight: 900;
    background: #000;
    color: #fff;
    border: 1px solid;
    transition: all 1s ease;
    border: 4px solid lightblue;
    transition-delay: 0.2s;
    cursor: pointer;
}

.button:hover {
    box-shadow: 4px solid #00e4b6;
    border: 4px solid #a8eb12;
    background: #a8eb12;
    color: #000;
    transition: box-shadow 7s, border 3s, background 3s, color 3s;
}